<footer>
  <div class="l_footer">
    <div class="l_footer-copyright">
      <p>&copy; 2025 Seiko Watch Corporation</p>
    </div>
  </div>
</footer>
<script src="<%= common.jsPath %>/jquery.min.js"></script>
<script type="text/javascript" src="<%= common.jsPath %>/remodal.min.js"></script>
<script src="<%= common.jsPath %>/jquery.inview.min.js"></script>
<script type="module" src="<%= common.jsPath %>/script.js"></script> 
<script src="<%= common.jsPath %>/swiper-bundle.min.js"></script>
<script type="module" src="<%= common.jsPath %>/common.js"></script>
