<section class="p_lp_intro" id="p_lp_intro">
  <div class="p_lp_intro_main">
    <div class="p_lp_intro_content">
      <div class="p_lp_intro_content-textarea">
        <h2 class="fade-element">Introduction</h2>
        <p class="fade-element">
          The Grand Seiko Flagship Boutique Ginza is a special boutique serving as the flagship store of Grand Seiko retailers around the world. Here you can experience the brand's worldview and its history in the most in-depth fashion.<br />
          This Fair will feature a special lineup of watches exclusive to the flagship boutique, complete with notable new models and rare limited editions, including those exclusive to the Wako brand.<br />
          During the event, customers who purchase a Grand Seiko watch will receive a limited-edition original gift.<br />
        </p>
        <p class="fade-element">Take advantage of this opportunity to pay a visit to Ginza.</p>
      </div>
      <div class="p_lp_intro_content-imagearea">
        <img src="<%= common.imgPath %>/intro_img1.jpg" class="fade-element" alt="Introduction" class="" />
      </div>
    </div>
    <div class="p_lp_intro_imagearea">
      <img src="<%= common.imgPath %>/intro_img2.jpg" alt="Introduction" />
      <img src="<%= common.imgPath %>/intro_img3.jpg" alt="Introduction" />
      <img src="<%= common.imgPath %>/intro_img4.jpg" alt="Introduction" />
      <img src="<%= common.imgPath %>/intro_img5.jpg" alt="Introduction" />
    </div>
  </div>
</section>
